{% extends "index.html" %} 

{% block title %}Python Apps{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="static/img/img4.jpg" alt="">
                    <div class="intro-text">
                        <h1 class="name">Simple Python Apps</h1>
                        <hr class="star-light">
                        <span class="skills">Let's Play!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




            <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Simple Python Apps</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                <h1>Addition</h1>
                    <a href="/add_numbers" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/img5.jpg" target="_blank" class="img-responsive" alt="Random Design 5">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Shopping List</h1>
                    <a href="/shopping_list" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/img6.jpg" class="img-responsive" alt="Random Design 6">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Current Time</h1>
                    <a href="/time" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/img7.jpg" class="img-responsive" alt="Random Design 7">
                    </a>
                </div>      
            </div>
        </div>
    </section>

         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>The languages I work with include: HTML, CSS, Python, Matlab, VBA and always looking to learn more. In addition to that I am very interested in cloud technology and recently passed the AWS an solutions architect exam. My background is in Mechanical Engineering and I currently work as Analyst for a boutique financial analyst. Feel free to get in touch!</p>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
